{% extends 'base.html' %}
<!-- Title Section -->
{% block title %}Food Me - Add Your Favorite Restaurant{% endblock title %}
<!-- Content Section -->
{% block content %} {% include 'nav_bar.html' %}
<div class="w3-pale-green">
<h1 class="w3-green w3-center w3-border w3-border-brown w3-cursive">Add A New Restaurant</h1>
<form action="" method="post">
  {%csrf_token%}
  <div id="forms" class="w3-cell-row w3-container w3-cursive">{{AddRestaurant}}</div>

  <div id="tags" class="w3-container w3-green w3-border w3-border-brown w3-margin w3-padding-16 w3-cursive">
    {{AddRestaurantTags}}
  </div>
  <div class="w3-container w3-row">
    <input
      type="submit"
      value="Add Restaurant"
      name="add"
      class="w3-btn w3-green w3-hover-pale-green w3-round w3-xlarge w3-cursive"
    />
  </div>
</form>
</div>
{% endblock content %}
